     /* ~~~~~first section~~~~ */
     .sectionbar{
        padding: 130px 200px  ;
    }
    .main-section{
        background-color: white;
        width: 60%;
        float: left;
        padding: 30px;
        border: 1px solid #ccc;
        margin-bottom: 40px;
    }
    
    .main-section h2{
        color:#4AAAA5;
        font-size: 36px;
        font-weight: bold;
        border-bottom: 2px solid #ccc;
        margin-bottom: 20px;
        line-height: 70px;
    }
    .main-section img{
        float: left;
        margin-right: 20px;
    }
    .main-section p{
        color:#777 ;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        line-height:30px ;
        margin-bottom: 30px;
    }
         /* ~~~~~second section~~~~ */
    .sidebar{
        background-color: white;
        width: 30%;
        float: right;
        text-align: center;
        padding-bottom: 28px;
        border: 1px solid #ccc;
    }
    .sidebar h3{
        font-size: 24px;
        font-weight: bold;
        color: #4AAAA5;
        margin: 28px;
    }
    
    